name: Backend Tests
on:
  push:
    branches: [main]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.13'
          cache: 'pip' # caching pip dependencies
      - name: Install uv
        run: pip install uv
      - name: Install backend dependencies
        run: |
          pip install uvicorn
          pip install -r backend/requirements.txt
      - name: Run backend tests
        run: |
          cd backend
          uv run pytest -v --cov