name: Backend Tests
on:
  push:
    branches: [main, feature/test-branch-protection]
    
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.13'
          cache: 'pip' # caching pip dependencies
      - run: |
          pip install uv
          pip install -r backend/requirements.txt
          cd backend
          uv run pytest -v --cov